@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    margin: 0;
}

* {
    user-select: none;
}
.scene{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.three-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    canvas {
        display: block;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
}
  
.info-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    height: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    border-radius: 100px;
    margin-left: 2rem;
    text-align: center;
      
    .info {
        color: white;
        font-size: 16px;
        text-shadow: 1px 1px 2px grey;
    }
}

  


.search-container {
    z-index: 1;
    position: absolute;
    display: flex;
    top: 75%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    
    input{
        border-radius: 100px;
        padding: 0.5rem;
        border: none;
        padding-left: 2rem;
        width: 213px;
        background-color: #62626296;
        color: white;
        transition: background-color 0.3s ease-in-out;
        &:focus {
            outline: none;
            background-color: #a5a0a096;
        }
        &:hover {
            background-color: #a5a0a096;
        }
    }

    .search-btn{
        background: none;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 33px;
        cursor: pointer;

        img{
            width: 100%;
            height: 100%;
            transition: all 0.17s ease-in-out;
        }

        &:hover{
            img{
                scale: 1.1;
            }
        }
    }
}
  


.audio-button{
    z-index: 1000;
    background: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    white-space: nowrap
}